<h2> Hi Teacher <%= @user.name %> </h2>
    <%= teacher_display %>

    <% @user.items.item_order.each do |item| %>
        <p><U><%= link_to item.name, item_path(item[:id]) %></U><br>
            Amount Still Needed: <%= item.amount_needed %><br> 
    <% end %>




