<h1> Tell us who you are </h1>

<%= form_for @user do |f| %>
        <%= f.label :role %>
        <%= f.select :role, [['Teacher', 1],['Donor', 2]], :prompt => 'Select One', required:true %>
    <br>
    </br>

    <%= f.submit "Submit" %>

<% end %>